@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-white font-sans max-w-360 mx-auto text-left
}


h1, h2, h3 {
  @apply font-semibold mb-4
}


h1 {
  @apply text-5xl
}


h2 {
  @apply text-4xl mb-4
}


h3 {
  @apply text-2xl mb-4
}

p {
  @apply text-gray-800 font-medium lg:text-justify
}

.two-col {
  @apply flex items-center justify-center content-center flex-col lg:flex-row gap-14 lg:gap-8 py-8 px-20
}

.two-col > div {
  @apply basis-1 lg:basis-1/2
}

.dark-bg p {
  @apply text-gray-400!
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3 {
  @apply text-white!
}

.hero-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-size: 60px 60px;
}